html, body
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #CB2957;
}

.top
{
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0 40px;    
    height: 100px;
    background-color: black;
    gap: 4%;          
    z-index: 20;
}

.top form 
{
    flex-grow: 1;  
    display: flex;
    align-items: center;
}

.top input
{
    width: 100%;          
    box-sizing: border-box; 
    padding: 10px;        
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin: 0;
}

.top .pagetag
{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 8px;
    margin-right: 5%;
    user-select: none;
    color: #EEEEEE;
}

.top a 
{
    font-size: 35px;
    text-decoration: none;
    color: #EEEEEE;
}

.top a:hover
{
    color: #EEEEEE;
}

.translate
{
    display:flex;
    flex-direction: row;
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 99;
}

.addsec
{
    display: flex;
    flex-direction: row;
    margin: 7.5% 2% 0% 2%;
    color: black;
    background-color: #EEEEEE;
    padding: 10px 10px 30px 10px;
    border-radius: 10px;
}

.left
{
    display: flex;
    flex-direction: column;
    margin: 1% 1% 0% 2%;
    background-color: #ffffff;
    margin-bottom: auto;
    padding: 5px 25px 25px 25px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
}

.left img
{
    width: 350px;
    height: 250px;
}

.right
{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}

.rleft
{
    background-color: white;
    padding: 0px 15px 20px 15px;
    border-radius: 10px;
}

.rright
{
    margin-left: 20px;
    padding: 0px 15px 10px 15px;
    border-radius: 10px;
    background-color: white;
}

.rright form
{   
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.rright .inputleft
{
    display: flex;
    flex-direction: column;
}

.rright .inputright
{
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}

.rright .inputright input[type=file]
{
    margin-bottom: 20px;
}

.rright .inputright input[type=submit]
{
    padding: 3px 10px;    
    font-size: 14px;    
    width: 80px;
    cursor: pointer;
}

.topicitemborder
{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 25px 25px 40px 0px;
    max-height: 150px;
    width: 500px;
    border-radius: 10px;
    overflow: auto;
}

.rright .topicitem
{
    margin: 0px 0px 10px 25px;
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    background-color: rgb(66, 66, 66);
    color: white;
}

.topicitem form
{
    margin: 0;
    padding: 0;
}

.topicitem input[type=submit]
{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 35px 5px 35px;
}