html,body
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #CB2957;
    background-image: url('wallpaper.jpg');
    background-size: cover;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    
}

.navbar
{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 20;
    width: 100%;
}

.topup a
{
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.topup a:hover
{
    color: black;
}


.top a 
{
    font-size: 25px;
    text-decoration: none;
    color: #EEEEEE;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.top a:hover
{
    color: #EEEEEE;
}

.topup
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25px;
    color: white;
    background-color: #CB2957;
    justify-content: space-between;
    padding-top: 2px;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
}

.top
{
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0 40px;    
    height: 60px;
    background-color: black;
    gap: 4%;          
    
}

.top form 
{
    flex-grow: 1;  
    display: flex;
    align-items: center;
}

.top input
{
    width: 100%;          
    box-sizing: border-box; 
    padding: 5px;        
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: #FFF6B5;
}

.top .pagetag
{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 5%;
    user-select: none;
    color: #EEEEEE;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
}



.top .changelang
{
    display: flex;
    margin-left: 35px;
    padding-top: 12px;
    padding-bottom: 25px;
}

#langimg
{
    margin-top: 17px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

#language-switcher
{
    margin-top: 16px;
    margin-bottom: 2px;
}

.info
{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top: 120px;
    margin-left: 25px;
    margin-right: 25px; */
    z-index: 10;
    gap: auto;
    flex-wrap: wrap;
    color: white;
}

.info .desinfo
{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 500px;
    padding-top: 200px;
    padding-left: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    position: relative;
}

.desinfo .desinfocon
{
    display: flex;
    flex-direction: column;
    padding: 0px 60px 0px 60px;
}

.desinfoname
{
    font-size: 60px;
}

.desinfodes
{
    font-size: 15px;
    padding-right: 250px;
    margin-top: 10px;
}

.desinfoname h1, .desinfodes p 
{
    margin: 0; 
    padding: 0;
}

.desinfoname h1 {
    margin-bottom: 5px; 
}

.regisbut
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5%;
}

#regisbut
{
    padding: 15px 65px;
    border: none;
    background-color: #CB2957;
    color: white;
    border-radius: 15px;
    transition: all 0.5s;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    text-align: center;
}

#regisbut:hover
{
    background-color: #ff3c73;
}

.coursereview
{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    bottom: -10px;
    align-items: center;
    padding-left: 100px;
}

.coursereview .star
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.coursereview .star img
{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.coursereview .review
{
    margin-left: 70px;
}

.info .generalinfo
{
    display: flex;
    flex-direction: column;
    width: 1500px;
    border-radius: 10px;
    margin-top: 100px;
    align-items: center;
    margin-left: 50px;
}

.info .cpic
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 35px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;    
}

.info .cpic .cpicborder
{
    padding: 10px 15px 10px 15px;
    background-color: #e6e6e6;
    border-radius: 10px;
}

.info .cpic img
{
    width: 350px;
    height: 350px;
}

.courseinfo
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding-left: 75px;
}

.courseinfo p
{
    font-size: 25px;
}

.coursecontent
{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    width: 1350px;
    background-color: rgb(33, 33, 33);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

#curriculum
{
    font-size: 35px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin-left: 15px;
    align-self: flex-start;
}

.coursetopic
{
    padding: 25px;
    margin-bottom: 40px;
    overflow: auto;
    height: 300px;
    width: 1200px;
    background-color: black;
    border-radius: 10px;
}

.topicitem
{
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(66, 66, 66);
}

.topicitem img
{
    width: 20px;
    height: 20px;
}

.linkurl
{
    margin-top: 5px;
}

.linkurl a
{
    text-decoration: none;
    color: #CB2957;
}

.linkurl a:hover
{
    color:#ff0048
}

.linkvid a
{
    text-decoration: none;
    color: #CB2957;
}

.linkvid a:hover
{
    color:#ff0048
}